<a href="https://colab.research.google.com/github/elvirjafarov/Suni_intellekt/blob/main/elvircafarov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sprint_1a_task

TASK_1A (1-Cİ SUAL) #1) 123 rəqəmini string/character ə çevirin və tipini yoxlayın.

In [4]:
a = 123
a_str = str(a)
print(a_str)
print(type(a_str))

123
<class 'str'>

TASK_1A (2-Cİ SUAL) 2) 19.99 dəyərini tam ədədə çevirin və nəticəni çap edin.*

In [5]:
x = 19.99
x_int = int(x)
print(x_int)

19

In [6]:
print(round(x))  (YUVARLAQLAŞDIRDIQDA)

20

TASK_1A (3-CÜ SUAL)

In [7]:
s = "500"
num = int(s)
result = num / 2
print(result)

250.0

TASK_1A (4-CÜ SUAL)

In [8]:
a = 8
b = 12

# a < b şərtini yoxlayırıq
print(a < b)   #

# a == b şərtini yoxlayırıq
print(a == b)

True
False

TASK_1A (5-Cİ SUAL)

In [9]:
x = 5
y = 10
z = 15

# Şərti yoxlayaq
result = (x < y) and (y < z)
print(result)

True

TASK_1A (6-CI SUAL)**

In [10]:
a = 25
b = 4

# Tam bölmə
divmod_result = a // b
# Qalıq
remainder = a % b
# Adi bölmə
division_result = a / b

# Nəticələri çap edək
print("Tam bölmə:", divmod_result)
print("Qalıq:", remainder)
print("Adi bölmə:", division_result)

Tam bölmə: 6
Qalıq: 1
Adi bölmə: 6.25

TASK_1A (7-Cİ SUAL)  3-ü 4-cü dərəcəyə qaldırın və nəticəni çap edin.

In [11]:
result = 3 ** 4
print(result)  # Çap edəcək: 81

81

TASK_1A (8-Cİ SUAL)  qiymet = 75.5 yaradın. Onu tam ədədə çevirin və tipini yoxlayın.

In [12]:
qiymet = 75.5
qiymet_tam = int(qiymet)
print(qiymet_tam)
print(type(qiymet_tam))

75
<class 'int'>

TASK_1A (9-CU SUAL)  n = 20 yaradın. (n > 10) or (n < 5) və (n > 15) and (n < 25) şərtlərini yoxlayın, nəticələri çap edin.

In [14]:
n = 20

# (n > 10) or (n < 5) şərtini yoxlayaq
or_result = (n > 10) or (n < 5)

# (n > 15) and (n < 25) şərtini yoxlayaq
and_result = (n > 15) and (n < 25)

# Nəticələri çap edək
print("(n > 10) or (n < 5):", or_result)  # Çap edəcək: True
print("(n > 15) and (n < 25):", and_result)  # Çap edəcək: True

(n > 10) or (n < 5): True
(n > 15) and (n < 25): True

TASK_1A (10-CU SUAL)  "42.8" dəyərini əvvəl float-a, sonra tam ədədə çevirin və hər addımda tipi yoxlayın.

In [15]:
# "42.8" dəyəri
value = "42.8"

# 1-ci addım: String'i float'a çeviririk
value_float = float(value)
print(value_float)
print(type(value_float))

# 2-ci addım: Float'u tam ədədə çeviririk
value_int = int(value_float)
print(value_int)
print(type(value_int))

42.8
<class 'float'>
42
<class 'int'>

**# Sprint_1b_task**

TASK_1B (1-Cİ SUAL)  s = "Programming" yaradın. Uzunluğunu və ilk simvolunu çap edin.

In [16]:
s = "Programming"

# Uzunluğunu tapırıq
length = len(s)
print("Uzunluq:", length)

# İlk simvolu tapırıq
first_char = s[0]
print("İlk simvol:", first_char)

Uzunluq: 11
İlk simvol: P

TASK_1B (2-Cİ SUAL) 2) s1 = "Hello" və s2 = "World" yaradın. Onları boşluqla birləşdirin və nəticəni çap edin.

In [17]:
s1 = "Hello"
s2 = "World"

# İki string-i boşluqla birləşdiririk
result = s1 + " " + s2
print(result)

Hello World

TASK_1B (3-CÜ SUAL) text = "Python" yaradın. Son simvolunu çap edin.

In [18]:
text = "Python"

# Son simvolu tapırıq
last_char = text[-1]
print(last_char)

n

TASK_1B (4-CÜ SUAL) 4) s = "Artificial" yaradın. "Art" hissəsini ilə çıxarın və çap edin.

In [19]:
s = "Artificial"

# "Art" hissəsini çıxarırıq
new_s = s.replace("Art", "")
print(new_s)

ificial

TASK_1B (5-Cİ SUAL) word = "Code" yaradın. Tərsinə çevirin və nəticəni çap edin.

In [20]:
word = "Code"

# Tərsinə çeviririk
reversed_word = word[::-1]
print(reversed_word)

edoC

TASK_1B (6-Cİ SUAL) s = "abcdefgh" yaradın. Hər ikinci simvolu alın və çap edin.

In [21]:
s = "abcdefgh"

# Hər ikinci simvolu alırıq
every_second_char = s[::2]
print(every_second_char)

aceg

TASK_1B (7-Cİ SUAL)  text = "data" yaradın. Onu bir sətrlik kodla böyük hərflərə və kiçik hərflərə çevirib çap edin.

In [22]:
text = "data"

# Böyük və kiçik hərflərə çevirmək və çap etmək
print(text.upper(), text.lower())

DATA data

TASK_1B (8-Cİ SUAL) s = "Python-R-Java" yaradın. "-" ilə ayırın (split("-")) və nəticəni çap edin.

In [24]:
s = "Python-R-Java"

# "-" ilə ayırırıq
split_result = s.split("-")
print(split_result)

['Python', 'R', 'Java']

TASK_1B (9-CU SUAL) ad = "Ayxan" və yaş = 25 yaradın. f-string ilə "Ayxan 25 yaşındadır" çap edin.

In [25]:
ad = "Ayxan"
yaş = 25

# f-string ilə çap edirik
print(f"{ad} {yaş} yaşındadır")

Ayxan 25 yaşındadır

TASK_1B (10-CU SUAL) s = "salam-dunya" yaradın. "-"ni boşluqla əvəz edin və nəticəni çap edin.

In [26]:
s = "salam-dunya"

# "-" simvolunu boşluqla əvəz edirik
new_s = s.replace("-", " ")
print(new_s)  # Çap edəcək: salam dunya

salam dunya

**# Sprint_2a_task**

TASK_2A (1-Cİ SUAL) 5, 10, 15, 20 rəqəmlərindən ibarət “rəqəmlər” adlı list/vector yaradın

In [27]:
rəqəmlər = [5, 10, 15, 20]
print(rəqəmlər)

[5, 10, 15, 20]

TASK_2A (2-Cİ SUAL) “rəqəmlər” listinin/vectorunun uzunluğunu tapın

In [28]:
rəqəmlər = [5, 10, 15, 20]

# Listin uzunluğunu tapırıq
uzunluq = len(rəqəmlər)
print(uzunluq)

4

TASK_2A (3-CÜ SUAL) “rəqəmlər” listinə/vectoruna 25 elementini əlavə edin

In [29]:
rəqəmlər = [5, 10, 15, 20]

# 25 elementini əlavə edirik
rəqəmlər.append(25)
print(rəqəmlər)

[5, 10, 15, 20, 25]

TASK_2A (4-CÜ SUAL) “rəqəmlər” listinin/vectorunun 2-ci indeksinə 12 elementini əlavə edin

In [30]:
rəqəmlər = [5, 10, 15, 20, 25]

# 2-ci indeksə 12 elementini əlavə edirik
rəqəmlər.insert(2, 12)
print(rəqəmlər)

[5, 10, 12, 15, 20, 25]

TASK_2A (5-Cİ SUAL) 1, 2, 3 və 4, 5, 6 listlərini/vectorlarını birləşdirin

In [31]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# İki listi birləşdiririk
birləşmiş_list = list1 + list2
print(birləşmiş_list)

[1, 2, 3, 4, 5, 6]

TASK_2A (6-CI SUAL)  “rəqəmlər” listindən/vectorundan 2-ci və 3-cü elementləri seçin

In [32]:
rəqəmlər = [5, 10, 15, 20, 25]

# 2-ci və 3-cü elementləri seçirik (1-ci və 2-ci indekslər)
seçilmiş_elements = rəqəmlər[1:3]
print(seçilmiş_elements)

[10, 15]

TASK_2A (7-Cİ SUAL) “rəqəmlər” listinin/vectorunun ilk elementini 50 ilə əvəz edin

In [33]:
rəqəmlər = [5, 10, 15, 20, 25]

# İlk elementi 50 ilə əvəz edirik
rəqəmlər[0] = 50
print(rəqəmlər)

[50, 10, 15, 20, 25]

TASK_2A (8-Cİ SUAL) “rəqəmlər” listində/vectorunda 19 elementinin olub-olmadığını yoxlayın

In [34]:
rəqəmlər = [5, 10, 15, 20, 25]

# 19 elementinin olub-olmadığını yoxlayırıq
is_present = 19 in rəqəmlər
print(is_present)

False

TASK_2A (9-CU SUAL) "a", "b", "a", "c" listində/vectorunda "a" elementinin neçə dəfə təkrarlandığını tapın

In [35]:
elements = ["a", "b", "a", "c"]

# "a" elementinin neçə dəfə təkrarlandığını tapırıq
count_a = elements.count("a")
print(count_a)

2

TASK_2A (10-CU SUAL) "x", "y", "x", "z" listindən/vectorundan "x" elementlərini silin

In [36]:
elements = ["x", "y", "x", "z"]

# Dövr vasitəsilə "x" elementlərini silirik
while "x" in elements:
    elements.remove("x")

print(elements)

['y', 'z']

TASK_2A (11-Cİ SUAL) 7, 2, 9, 1 listini/vectorunu azalan sırayla sıralayın

In [37]:
numbers = [7, 2, 9, 1]

# Listi azalan sırayla sıralayırıq
numbers.sort(reverse=True)
print(numbers)

[9, 7, 2, 1]

TASK_2A (12-Cİ SUAL) “rəqəmlər” listindən/vectorundan 10-dan böyük elementləri seçin

In [38]:
rəqəmlər = [5, 10, 15, 20, 25]

# 10-dan böyük elementləri seçirik
böyük_elements = [x for x in rəqəmlər if x > 10]
print(böyük_elements)

[15, 20, 25]

## **Sprint_2b_task**

TASK_2B (1-Cİ SUAL) 10, 20, 30, 40 elementlərindən ibarət s1 adlı series/vector yaradın

In [40]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [41]:
import pandas as pd

# 10, 20, 30, 40 elementlərindən ibarət series yaratmaq
s1 = pd.Series([10, 20, 30, 40])

print(s1)

0    10
1    20
2    30
3    40
dtype: int64

TASK_2B (2-Cİ SUAL) s1-ə 'w', 'x', 'y', 'z' indekslərini təyin edin

In [42]:
import pandas as pd

# 10, 20, 30, 40 elementlərindən ibarət series yaratmaq və indeksləri təyin etmək
s1 = pd.Series([10, 20, 30, 40], index=['w', 'x', 'y', 'z'])

print(s1)

w    10
x    20
y    30
z    40
dtype: int64

TASK_2B (3-CU SUAL)  Python: {'p': 5, 'q': 10, 'r': 15} dictionary-dən s2 adlı Series yaradın
    R: list(p = 5, q = 10, r = 15) listindən v2 adlı named vektor yaradın

In [43]:
import pandas as pd

# Dictionary yaradılır
data = {'p': 5, 'q': 10, 'r': 15}

# Dictionary-dən Series yaratmaq
s2 = pd.Series(data)

print(s2)

p     5
q    10
r    15
dtype: int64

TASK_2B (4-CÜ SUAL)  s2-dən 'q' indeksli elementi seçin

In [44]:
import pandas as pd

# Dictionary-dən Series yaratmaq
data = {'p': 5, 'q': 10, 'r': 15}
s2 = pd.Series(data)

# 'q' indeksli elementi seçirik
q_element = s2['q']
print(q_element)  # Çap edəcək: 10

10

TASK_2B (5-Cİ SUAL) s1-dən 25-dən böyük elementləri seçin

In [45]:
import pandas as pd

# Series yaratmaq
s1 = pd.Series([10, 20, 30, 40, 25], index=['a', 'b', 'c', 'd', 'e'])
# 25-dən böyük elementləri seçirik
böyük_elements = s1[s1 > 25]
print(böyük_elements)

c    30
d    40
dtype: int64

TASK_2B (6-Cİ SUAL)  s1-də 20-dən böyük elementləri 10-a bölün

In [46]:
import pandas as pd

# Series yaratmaq
s1 = pd.Series([10, 20, 30, 40, 25], index=['a', 'b', 'c', 'd', 'e'])

# 20-dən böyük elementləri tapırıq və onları 10-a bölürük
s1[s1 > 20] = s1[s1 > 20] / 10

print(s1)

a    10.0
b    20.0
c     3.0
d     4.0
e     2.5
dtype: float64

<ipython-input-46-73542ede6352>:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[3.  4.  2.5]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  s1[s1 > 20] = s1[s1 > 20] / 10

TASK_2B (7-Cİ SUAL) ((1, 2), (3, 4)) listindən/vectorundan df1 adlı dataframe yaradın

In [47]:
import pandas as pd

# Tuple-lardan DataFrame yaratmaq
data = ((1, 2), (3, 4))

# DataFrame-ə çevirmək
df1 = pd.DataFrame(data, columns=['Column 1', 'Column 2'])

print(df1)

   Column 1  Column 2
0         1         2
1         3         4

TASK_2B (8-Cİ SUAL) df1-ə ('r1', 'r2') sətir və ('c1', 'c2') sütun adlarını təyin edin

In [48]:
import pandas as pd

# Tuple-lardan DataFrame yaratmaq
data = ((1, 2), (3, 4))

# DataFrame-ə çevirmək
df1 = pd.DataFrame(data, columns=['Column 1', 'Column 2'])

# Sətir və sütun adlarını təyin edirik
df1.index = ['r1', 'r2']  # Sətir adlarını təyin etdik
df1.columns = ['c1', 'c2']  # Sütun adlarını təyin etdik

# Nəticəni çap edirik
print(df1)

    c1  c2
r1   1   2
r2   3   4

TASK_2B (9-CU SUAL) Python: {'A': [1, 2], 'B': [3, 4]} dictionary-dən df2 yaradın

In [49]:
import pandas as pd

# Dictionary
data = {'A': [1, 2], 'B': [3, 4]}

# Dictionary-dən DataFrame yaratmaq
df2 = pd.DataFrame(data)

# DataFrame-i çap edirik
print(df2)

   A  B
0  1  3
1  2  4

TASK_2B (10-CU SUAL) df2-də 'A' sütunu 1-dən böyük olan sətirləri seçin

In [50]:
import pandas as pd

# Dictionary-dən DataFrame yaratmaq
data = {'A': [1, 2], 'B': [3, 4]}
df2 = pd.DataFrame(data)

# 'A' sütunu 1-dən böyük olan sətirləri seçirik
filtered_df = df2[df2['A'] > 1]

# Nəticəni çap edirik
print(filtered_df)

   A  B
1  2  4